html {
    box-sizing: border-box;
      cursor: url('https://i.ibb.co/6bycCv7/Ellipse-4.png'), default;	
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
      background-color: #030302;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
      display: grid;
      grid-template-columns: repeat(10, 40px);
      grid-template-rows: repeat(10, 40px);
      grid-gap: 1.5rem;
  }
      
      .item {
           background-color: #fe0000; 
        }
  